.primary-button {
  background-color: rgba(95, 196, 235, 1);
  border-radius: 100px;
}


.secondary-btn {
  background: linear-gradient(135deg, rgba(133, 55, 215, 0.5), rgba(97, 24, 174, 0.2)),
    #2E055A !important;
  border-radius: 5px;
  min-height: 40px;
  max-width: 200px;
  border: none !important;
  color: rgba(255, 255, 255, 1) !important;
}