.pk-modal {
  background: linear-gradient(135deg, rgba(155, 81, 224, 0.2), rgba(155, 81, 224, 0)),
    #2E055A;
}

.modal-title {
  font-size: 15px;
  font-weight: 600;
  color: rgba(0, 255, 240, 1);
}