::-webkit-scrollbar {
  width: 8px;

}


::-webkit-scrollbar-track {
  background: #300957;

}


::-webkit-scrollbar-thumb {
  background: #270649;

  border-radius: 5px;

}

::-webkit-scrollbar-thumb:hover {
  background: #6f18c5;
}