@import './fonts';
@import './table';
@import './modal';
@import './buttons';

body,
html {
  overflow: hidden;
  font-family: "Lexend",
    sans-serif;
}

#sideBar {
  background: linear-gradient(135deg, rgba(155, 81, 224, 0.2), rgba(155, 81, 224, 0)),
    #2E055A;
}

.form-auth-container {
  box-shadow: 1px 1px #02020224,
    1px 1px #02020224,
    -1px 1px #02020224;
}



.blue-text {
  color: rgba(0, 255, 240, 1);
}

.menu-item {
  button {
    width: 100%;
    transition: all .7s;
  }

  &:hover {
    button {
      background: linear-gradient(135deg, rgba(155, 81, 224, 0), rgba(3, 169, 244, 0.24)),
        #2E055A;
      color: rgb(155, 177, 175);
    }
  }

  .active {
    background-color: rgba(0, 255, 240, 1);

    button {
      color: #3f116f;
    }
  }
}

.dashboard-logo {
  height: 70px;
}

.custom-submit {
  background: linear-gradient(135deg, rgba(155, 81, 224, 0), rgba(3, 169, 244, 0.24)),
    #2E055A;
  border-radius: 5px;
  min-height: 40px;
  max-width: 200px;

  span {
    font-size: 13px;
  }
}

.modal-body {
  padding: 20px;
}

.action-container {
  div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.input-label {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.6);
}

.separator {
  height: 1px;
  background: linear-gradient(45deg, rgba(0, 255, 240, 0), rgba(0, 255, 240, 1), rgba(0, 255, 240, 0));
  border: none;
}